/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto&display=swap');

/* Variables */
:root {
	--primary-color: #a8d8da;
	--max-width: 1280px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	font-family: 'Roboto', sans-serif;
	line-height: 1.6;
}

h1,
h2 {
	font-family: 'Montserrat', sans-serif;
}

/* Utilities */
.container {
	max-width: var(--max-width);
	margin: auto;
	padding: 3rem;
	overflow: hidden;
}

@media (max-width: 500px) {
	.container {
		padding: 2rem;
	}
}

/* Header */
.page-header {
	margin-top: 2rem;
	width: 80%;
}

@media (max-width: 1024px) {
	.page-header {
		width: 100%;
	}
}

.page-heading {
	font-weight: 700;
	font-size: 3.5rem;
}

@media (max-width: 500px) {
	.page-heading {
		font-size: 2rem;
	}
}

.lead-text {
	display: block;
	margin: 1rem 0;
	font-size: 1.25rem;
	line-height: 1.7;
}

/* Services */
.services {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 2rem;
	margin: 3rem 0;
}

.service {
	background: var(--primary-color);
	padding: 3rem 2rem;
	border-radius: 20px;
}

@media (max-width: 768px) {
	.services {
		grid-template-columns: 1fr;
	}
}

.service-icon {
	background: white;
	color: var(--primary-color);
	width: 100px;
	height: 100px;
	line-height: 100px;
	text-align: center;
}

.service-heading {
	font-weight: 400;
	margin-top: 1rem;
}

.service-desc {
	margin-top: 1rem;
	color: #425465;
	font-style: italic;
}
